-- Add is_admin column to profiles
ALTER TABLE profiles ADD COLUMN is_admin boolean DEFAULT false;

-- Update policies for categories (only admin can manage)
DROP POLICY IF EXISTS \
Authenticated
insert\ ON categories;
DROP POLICY IF EXISTS \Public
read
access\ ON categories;

CREATE POLICY \Public
read
access\ ON categories FOR SELECT USING (true);
CREATE POLICY \Admin
can
insert\ ON categories FOR INSERT WITH CHECK (EXISTS (SELECT 1 FROM profiles WHERE id = auth.uid() AND is_admin = true));
CREATE POLICY \Admin
can
update\ ON categories FOR UPDATE USING (EXISTS (SELECT 1 FROM profiles WHERE id = auth.uid() AND is_admin = true));
CREATE POLICY \Admin
can
delete\ ON categories FOR DELETE USING (EXISTS (SELECT 1 FROM profiles WHERE id = auth.uid() AND is_admin = true));

-- Keep existing policies for other tables (public read, authenticated insert, owner update/delete)
